<!-- Start Footer -->
<div id="footer">

    <!-- Start Bottom Panel -->
    <div id="bottom">
        <div class="into-bottom">
            <span class="left">Downtogo.cn &copy; 2013. All Rights Reserved.</span>            <div class="backtop" id="toTop" title="Back to Top"></div>
        </div>
    </div>
    <!-- End Bottom Panel -->

</div>
<!-- End Footer -->

<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>