<!-- Start Header -->
    <div class="top-header"></div>

    <div id="header">
        <div class="into-header">

            <!-- Start Logo -->
            <div class="logo">
                <a href="index.html"><img src="@routes.Assets.at("images/logo.png")" alt="大土狗·黑黑" title="大土狗·黑黑" /></a>
            </div>
            <!-- End Logo -->

            <!-- Start Top Menu -->
            <div class="topmenu">

                <!-- Start Dropdown Menu -->
                <ul id="menu" class="menu-nav">

                    <li class="parent current"><a href="/">首页</a></li>

                    <li class="parent"><a href="#">技术资料</a>
                        <ul class="child">
                            <li><a href="/ebook">电子书</a></li>
                            <li><a href="/blog_list">技术文章</a></li>
                            <li><a href="/share_code">分享代码</a></li>
                            <li><a href="/ask">在线问答</a></li>
                        </ul>
                    </li>

                    <li class="parent"><a href="/team">我的团队</a></li>

                    <li class="parent"><a href="/product">成果展示</a></li>

                    <li><a href="/contact">联系我们</a></li>

                </ul>
                <!-- End Dropdown Menu -->

            </div>
            <!-- End Top Menu -->

            <div class="clear"></div>
        </div>
    </div>

    <div class="horizon-line"></div>  
    <div class="header-shadow"></div>
<!-- End Header -->